@media all and (min-width:901px) {
    .container {
        width: 900px;
    }
    .container3 {
        float: right;
    }
    .container3 {
        background-color: white;
    }
}

@media all and (min-width:583px) and (max-width:900px) {
    .container2 {
        transform: translate(-720px, -100px);
        position: absolute;
        margin-top: 550px;
        margin-left: 40px;
    }
    .container3 .big-rectangle {
        background-color: pink;
        float: right;
        transform: translate(-375px, -550px);
        height: 700px;
    }
}

@media all and (max-width:582px) {
    .container1 .diamond {
        position: initial;
        width: 90px;
        height: 90px;
    }
    .container1>#diamond1 {
        top: 100px;
    }
    .container1>#diamond2 {
        left: 210px;
    }
    .container1 {
        transform: translate(-40px, -28px);
    }
    .container2 .equal-rectangle {
        position: initial;
    }
    .container2 .circle {
        position: initial;
    }
    .container2 .equal-rectangle {
        transform: translate(-50px, 150px);
        left: 90px;
        width: 30%;
        height: 10%;
        ;
    }
    .container2 .circle {
        transform: translate(50px, 360px);
        width: 80px;
        height: 80px;
    }
    .container3 .big-rectangle {
        transform: translate(20px, 380px);
        width: 150px;
        ;
        height: 340px;
        ;
        margin-left: 15%;
        display: block;
        background-color: #0f43b4;
        position: initial;
        text-align: center;
    }
    .container3 .big-rectangle span {
        align-items: center;
        font-size: 2em;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #216b0f;
}

.container {
    min-width: 901px;
    max-width: 1600px;
}

.container1,
.container2,
.container3 {
    width: 33.3%;
    height: 33.3%;
    position: relative;
}

.nav-rectangle {
    height: 90px;
    width: 100%;
    background-color: #7c7c07;
    border: 4px solid #000;
    position: absolute;
    box-sizing: border-box;
    display: block;
}

.diamond {
    float: left;
    width: 150px;
    height: 150px;
    background: rgb(226, 53, 53);
    border: 3px solid #000;
    /* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    left: 260px;
    top: 155px;
}

.container1>#diamond1 {
    position: absolute;
    margin-top: 150px;
    margin-left: -150px;
}

.container1>#diamond2 {
    position: absolute;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.equal-rectangle {
    height: 15px;
    width: 200px;
    display: flex;
    align-items: center;
    background-color: #0f43b4;
    border: 3px solid #000;
    top: 230px;
    left: 700px;
}

#equal-rectangle1 {
    position: absolute;
    margin-top: 40px;
}

#equal-rectangle2 {
    position: absolute;
}

.circle {
    display: inline-block;
    position: absolute;
    width: 130px;
    height: 130px;
    background: rgb(38, 141, 155);
    border: 3px solid #000;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    top: 200px;
    left: 980px;
}

.big-rectangle {
    text-align: center;
    position: absolute;
    height: 800px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    border: 3px solid #000;
    top: 125px;
    left: 850px;
}

.big-rectangle>span {
    font-size: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    padding-top: 0.3em;
}